src/main/mule/bank_api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    
    <flow name="bank_api-main">
        <http:listener config-ref="bank_api-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bank_api-config" />
        <error-handler ref="errorError_Handler">
            
        </error-handler>
    </flow>
    <flow name="put:\unblock:application\json:bank_api-config">
		<logger level="INFO" doc:name="start logger" doc:id="1c918fdf-9258-4338-b662-4d241017cc8b" message='#["start logger"]'/>
		<flow-ref doc:name="Flow Reference" doc:id="c27f5ecb-165d-4482-a864-01d46f002823" name="unblockingAccount-Flow"/>
		<logger level="INFO" doc:name="end logger" doc:id="36bf04db-4e58-42a3-9378-52a5d40e24dd" message='#["end logger"]'/>
    </flow>
    <flow name="get:\checkBalance:bank_api-config">
		<logger level="INFO" doc:name="start logger" doc:id="b890c4f3-b622-476c-9ab2-725ad47adfac" message='#["start logger"]'/>
		<flow-ref doc:name="Flow Reference" doc:id="c009a769-5fb1-43df-8bb6-8cfa4e68fe41" name="checkingBankBalance-flow"/>
		<logger level="INFO" doc:name="end logger" doc:id="4be514d9-40da-49de-919c-c30c6f44f2ef" message='#["end logger"]'/>
    </flow>
    <flow name="post:\createAccount:application\json:bank_api-config">
		<logger level="INFO" doc:name="start logger" doc:id="8494370c-5d49-49a1-a5e5-4464fa79ad64" message='#["start logger"]'/>
		<flow-ref doc:name="Flow Reference" doc:id="a0bf14d5-a964-4876-8ab5-888785edeca2" name="createdBankAccount-Flow"/>
		<logger level="INFO" doc:name="end logger" doc:id="c8d53f38-f075-431d-95c0-4ce8c15221e1" message='#["end logger"]'/>
    </flow>
</mule>
